@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: #0f172a;
}
*{
box-sizing:border-box;
}

body{
overflow-x:hidden;
}